/*set background color to rgb(184, 126, 84)*/
html, body {
	
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}
h1 {
	font: 3em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: 1em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	text-decoration: none;
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid yellow;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
/*set the padding of table headers and table cells to 10px*/
td, th {
	
}
/*set the text alignment of the class selector .center to center*/
.center {
	
}
#header {
	border-bottom: 1px solid gray;
}
#footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
/*set the flowRight class selector's float property to right. Set flowLeft's float property to left*/
.flowRight {
	
	margin-left: 10px;
}
.flowLeft {
	
	margin-right: 10px;
}
